    @font-face{
        font-family:"Proxima N W01 Thin Reg";
        src:url("1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix");
        src:url("1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix") format("eot"),url("1132129/0583e751-caca-4cd8-af81-71b2aa5ddbbb.woff2") format("woff2"),url("1132129/da176885-bee9-49f7-88f0-d7ad9229ddd7.woff") format("woff"),url("1132129/1861a7b7-09a5-4efd-b681-5214784ded39.ttf") format("truetype");
    }
    @font-face{
        font-family:"Proxima N W01 Light";
        src:url("1132144/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
        src:url("1132144/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("1132144/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("1132144/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("1132144/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype");
    }
    @font-face{
        font-family:"Proxima N W01 Reg";
        src:url("1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
        src:url("1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("1132159/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("1132159/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("1132159/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
    }
    @font-face{
        font-family:"Proxima N W01 Smbd";
        src:url("1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
        src:url("1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("1132171/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("1132171/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("1132171/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype");
    }
    @font-face{
        font-family:"Proxima Nova W01 Medium";
        src:url("1529351/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix");
        src:url("1529351/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot"),url("1529351/e898042a-5eb9-4810-b578-c3993ab58f0f.woff2") format("woff2"),url("1529351/cb9d4f02-d326-46b0-a857-930cce057f80.woff") format("woff"),url("1529351/75cafc03-22e4-41b0-8bc2-1b9081506ecc.ttf") format("truetype");
    }
